body,html,ul,li,*{
    margin: 0;
    padding: 0;
}
body{
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background: #f2f2f2;
    font-size: 12px;
}
/**{*/
/*box-sizing: border-box;*/
/*}*/
ul,li{
    list-style: none;
}
.pullLeft{
    float: left;
}
.pullRight{
    float: right;
}
a{
    text-decoration: none;
    color: #000;
}

.clearfix:after {
    display: block;
    content: " ";
    height: 0;
    visibility: hidden;
    clear: both;
}



.navTop{
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    min-width: 1280px;
}
.header-logo{
    display: block;
    width: 152px;
    height: 48px;
    font-size: 20px;
    overflow: hidden;
    margin-top: 6px;
    margin-left: 12px;
    text-align: center;
}
.header-logo img {
    vertical-align: top;
    width: auto;
    height: 100%;
}
.header-nav{
    margin-left: 50px;
}
.header-nav li{
    position: relative;
}
.header-nav li a{
    display: block;
    margin: 0 7.6px;
    line-height: 56px;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
    color: #000;
    border-bottom: 4px solid #fff;
    padding: 0 2px 0 0;
}
.header-nav li  a:before{
    content: "";
    display: inline-block;
    overflow: hidden;
    width: 19px;
    height: 20px;
    vertical-align: text-bottom;
}
.icon_09>a:before {
    background: url(../images/header_icon_v2.png) 2px .5px no-repeat;
}
.hd_item p{
    display: inline;
}
.header-nav li.active a,.header-nav li:hover a{
    border-bottom-color: #118bd8;
}
.header-nav li a:after{
    content: "";
    width: 27px;
    height: 4px;
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
}
.account_inbox_switch{
    display: block;
    width: 35px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid transparent;
    border-bottom-width: 0;
    position: relative;
    margin-top: 15px;
}
.header-ctrl-item>a {
    position: relative;
    color: #000;
    display: block;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
    padding: 0 5px;
    border-left: 1px solid #118bd8;
    margin: 22px 0 21px 3px;
}
.header_mail{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAOCAYAAAAvxDzwAAAAGXRFW…+cHCDr2LK8TnSqidBhf8ud5VhgB1u86jMIsVLG7a8AAwDO6T6Ik9c1ugAAAABJRU5ErkJggg==) no-repeat;
    width: 18px;
    height: 12px;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
    background-size: contain;
}
.header-ctrl-item>a:after {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAYAAAAxrNxjAAAAGXRFW…D7ArEflC0Kk0d3kzkQv4Jic2Q5FgZUcBKIZyGx4QAgwAAhysOVRyMf7QAAAABJRU5ErkJggg==) no-repeat;
    display: inline-block;
    overflow: hidden;
    width: 11px;
    height: 9px;
    margin-left: 4px;
    content: "";
}
.header-ctrl-item:hover .memberBox{
    display: block;
}
.memberBox{
    position: absolute;
    top: 72px;
    right: 7px;
    width: 199px;
    padding: 0 16px;
    background: #fff;
    z-index: 99;
    box-shadow: 0 2px 10px #e8e8e8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
}
.memberBox .triangle-up{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -8px;
    left: 179px;
}
.triangle-up:after, .triangle-up:before {
    display: inline-block;
    background: 0 0;
    position: absolute;
    content: "";
}
.triangle-up:before {
    width: 186px;
    height: 42px;
    top: -34px;
    right: 0;
}
.triangle-up:after {
    width: 45px;
    height: 12px;
    top: -4px;
    left: -1px;
}
.memberBox>ul{
    width: 100%;
    overflow: hidden;
}
.memberBox li{
    position: relative;
    margin: 8px 0;
    font-size: 12px;
    width: 96px;
    float: left;
    padding: 2px 0;
}
.memberBox li a{
    display: block;
    height: 26px;
    line-height: 26px;
    color: #666;
    overflow: hidden;
}
.memberBox li:nth-child(2n+1):after{
    content: '';
    display: inline-block;
    width: 1px;
    height: 100%;
    background: #e2e2e2;
    position: absolute;
    top: 0;
    right: 0;
}
.icon_help{
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    background-repeat: no-repeat;
}
.memberBottom{
    display: inline-block;
    border-top: 1px solid #e7e8eb;
    padding: 9px 0;
    width: 100%;
    color: #666;
    line-height: 16px;
    font-size: 12px;
}

/*主体*/

.container{
    width: 100%;
    min-width: 1280px;
}
.container .inner{
    position: relative;
    overflow: hidden;
    margin-top: 10px;
}
.content-left{
    display: inline-block;
    overflow: hidden;
    margin-right: 9px;
    height: 100%;
    background: #fff;
    border-top: 1px solid #e4e4e4;
    width: 152px;
    min-height: 980px;
    overflow-y: scroll;
    box-sizing: border-box;
    border-right: 1px solid #e4e4e4;
    float: left;
}
.content-left::-webkit-scrollbar {
    width: 0;
}
.left-menu{
    padding: 5px 0;
    font-size: 14px;
}
.left-menu dt{
    color: #333;
    min-height: 20px;
    line-height: 20px;
    padding: 8px 3px 10px 25px;
    display: flex;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.left-menu dt:hover{
    color: #118bd8;
    background: #f8f8f8;
    border-top: 1px solid #e4e4e4 ;
    border-bottom: 1px solid #e4e4e4;
}
.left-menu dt:hover .icon-menu-v2{
    /*-webkit-filter:hue-rotate(330deg);*/
    /*background-color: #118bd8;*/
}
.left-menu .icon-menu-v2{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 6.4px;
    background: url(../images/header_icon_v2.png) no-repeat;
}
.icon-menu-v2.dpzx {
    background-position: -20px -60px;
}
.left-menu dd{
    line-height: 34px;
    cursor: pointer;
}
.left-menu dd:hover{
    background: #f8f8f8;
}
.left-menu dd a{
    display: block;
    padding: 0 0 0 49px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #666;
    line-height: 28px;
    font-size: 12px;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    transition: all .1s linear;
}
#content-right-box {
    min-height: 660px;
    overflow: hidden;
    background: #f2f2f2;
    box-sizing: content-box;
    position: relative;
    padding-bottom: 56px;
}
.content-right {
    padding: 20px 20px 22px;
    background: #fff;
    border: 1px solid #e4e4e4;
    overflow: hidden;
}