



/*底下的主体部分*/








.content-right-title {
    font-size: 14px;
    padding-bottom: 20px;
}
.alert {
    position: relative;
    padding: 7px 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    line-height: 1.4em;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}
.alert .alert-delete {
    position: absolute;
    right: 5px;
    top: 9px;
}
[class*=" gicon-"], [class^=gicon-] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: .3em;
    line-height: 14px;
    vertical-align: -2px;
    background-image: url(../images/gicon_black.png);
    background-position: 14px 14px;
    background-repeat: no-repeat;
}
.gicon-remove {
    background-position: -312px 0;
}
.zh_infor_box {
    padding: 10px 0;
}
.zh_infor_box .zh_infor_left {
    width: 49%;
    float: left;
}
.zh_infor_box .zh_infor_tt {
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
}
.zh_infor_box .zh_infor_tt .lit_icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-bottom: -9px;
    margin-left: 10px;
}
.zh_infor_box .zh_infor_tt .mfl {
    background: url(../images/main_user.png) no-repeat;
}
.zh_infor_box .zh_infor_tt .itt {
    font-weight: 600;
}
.zh_infor_box .zh_infor_item {
    width: 150px;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 5px;
}
.zh_infor_box .red {
    color: #ff0017;
    font-weight: bold;
}
.wxtables {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #e7e7eb;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.mgt15 {
    margin-top: 15px;
}
.wxtables.data thead td {
    color: #000;
}
.wxtables thead td {
    font-weight: 700;
    background: #eee;
    color: #555;
    border-left: none;
    border-right: none;
}
.wxtables thead tr td:first-child {
    border-left: 1px solid #e7e7eb;
}
.wxtables thead tr td:last-child {
    border-right: 1px solid #e7e7eb;
}
.wxtables.data tbody tr td {
    padding: 5px 10px;
    color: #000;
}
.wxtables td {
    padding: 8px 10px;
    font-size: 12px;
    line-height: 1.5em;
    border-bottom: 1px solid #eee;
    color: #333;
}
.wxtables.data .dataItems {
    line-height: 28px;
}
.wxtables.data .num1 {
    font-size: 20px;
    font-weight: 700;
    font-family: Arial;
}
.chartBox.chartBox-bdr {
    border-radius: 5px;
    overflow: hidden;
    width: 49%;
    border: 1px solid #ccc;
    float: left;
    margin-top: 15px;
}
.cb-title {
    padding: 10px;
    background-color: #eee;
    color: #333;
    font-size: 14px;
    font-weight: 700;
}
.fl{
    float: left;
}
.chartBox.chartBox-bdr.fr{
    float: right;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
.chartBox.last{
    width: 100%;
}
.footer {
    padding: 15px 0;
    line-height: 26px;
    font-size: 12px;
    color: #666;
    background: 0 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}